html{
    background-color: #000000;
}
 * {
        font-family: Arial, Verdana, sans-serif;
        color: #752DA6;
        box-sizing: border-box;}
        
        header h1 {
        color: purple; }

        article h3 {
        text-align: center;}

        article img {
        max-width: 100%;
        height:auto;}

        nav, #feature, footer {
        margin: 1%; }

        nav li {
        display: inline;
		padding: 0.5em;
        color: #DCA7F2;}


